body {
    background-color: #a9a9a9;
    font-family: sans-serif, Haettenschweiler, "Arial Narrow Bold",
      sans-serif;
  }
  .container {
    display: grid;
    grid-auto-rows: 1fr, 2fr, 1fr;
    margin: 0 10%;
  }
  body > p{
    color: white;
    text-align: center;
    font-size: 1.5em;
  }
  ul {
    display: flex;
    justify-content: space-around;
    background-color: #ff77fb;
    padding: 15px;
  }
  li {
    list-style-type: none;
  }
  .main {
    display: flex;
    column-gap: 10px;
  }
  .main p {
    color: black;
  }
  .main h1 {
    text-align: center;
  }
  aside{
    background-color: #ff77fb;
    padding: 0 1%;
  }
  .main > div{
    background-color: #fff;
    padding: 0 5%;
  }
 